/* plotlyStyles.css */
.plotly .modebar-btn {
    font-size: 20px; /* Increase the icon size */
  }
  
  .plotly .modebar-btn svg {
    width: 20px; /* Adjust width */
    height: 20px; /* Adjust height */
  }
  